{% extends 'base.html' %}
{% import 'import/macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
{{ super()}}
Hello{% endblock %}

{% block body %}

{% if username %}

<h1>Bienvenido, {{username}}</h1>

{% endif %}


{% if user_ip %}
<h1>Hello este es tu IP {{ user_ip }}</h1>
{% else %}
<a href="{{ url_for('index') }}">Ir a inicio</a>
{% endif %}

<h4>Tareas</h4>
<ul>
    {% for i in todos %}
    {{ macros.render(i) }}
    {% endfor %}
</ul>


<div class="container">
    <!-- FORMULARIO CON WTF  -->
    <!--  {{ wtf.quick_form(
    login_form,
    button_map={'submit': 'btn btn-success'}
    ) }} -->
    <hr>
    <!-- FORMULARIO MAS "COMUN" -->
    <form action="{{ url_for('hello') }}" class="m-auto w-25" method="post">
        <!-- esto es necesario -->
        {{ login_form.csrf_token }}
        <div class="form-group">
            {{ login_form.username.label }}
            {{ login_form.username(class='form-control') }}
        </div>
        <div class="form-group">
            {{ login_form.password.label }}
            {{ login_form.password(class='form-control') }}
        </div>
        {{ login_form.submit(class='btn btn-primary w-100') }}

    </form>

</div>


{% endblock %}